Checks: '-*, readability-*, bugprone-*, clang-analyzer-*, performance-*, modernize-*, misc-*, -bugprone-throwing-static-initialization, -bugprone-branch-clone, -bugprone-easily-swappable-parameters, -misc-const-correctness, -misc-include-cleaner, -misc-non-private-member-variables-in-classes, -misc-use-anonymous-namespace, -misc-use-internal-linkage,-modernize-avoid-c-arrays, -modernize-use-trailing-return-type, -readability-identifier-length, -readability-convert-member-functions-to-static, -readability-magic-numbers, -readability-uppercase-literal-suffix'
CheckOptions:
  - { key: readability-identifier-naming.NamespaceCase,                  value: lower_case }
  - { key: readability-identifier-naming.ClassCase,                      value: CamelCase  }
  - { key: readability-identifier-naming.ClassConstexprCase,             value: CamelCase  }
  - { key: readability-identifier-naming.ClassConstexprPrefix,           value: k          }
  - { key: readability-identifier-naming.ClassConstCase,                 value: CamelCase  }
  - { key: readability-identifier-naming.ClassConstPrefix,               value: k          }
  - { key: readability-identifier-naming.TypedefCase,                    value: lower_case }
  - { key: readability-identifier-naming.TypedefSuffix,                  value: _t         }
  - { key: readability-identifier-naming.PrivateMemberCase,              value: camelBack  }
  - { key: readability-identifier-naming.ClassMemberCase,                value: camelBack  }
  - { key: readability-identifier-naming.PublicMemberCase,               value: camelBack  }
  - { key: readability-identifier-naming.PrivateMemberSuffix,            value: _          }
  - { key: readability-identifier-naming.StructCase,                     value: CamelCase  }
  - { key: readability-identifier-naming.UnionCase,                      value: lower_case }
  - { key: readability-identifier-naming.EnumCase,                       value: CamelCase  }
  - { key: readability-identifier-naming.FunctionCase,                   value: camelBack  }
  - { key: readability-identifier-naming.MemberCase,                     value: camelBack  }
  - { key: readability-identifier-naming.LocalVariableCase,              value: camelBack  }
  - { key: readability-identifier-naming.GlobalVariableCase,             value: camelBack  }
  - { key: readability-identifier-naming.StaticVariableCase,             value: camelBack  }
  - { key: readability-identifier-naming.VariableCase,                   value: camelBack  }
  - { key: readability-identifier-naming.ParameterCase,                  value: camelBack  }
  - { key: readability-identifier-naming.ConstantParameterCase,          value: camelBack  }
  - { key: readability-identifier-naming.LocalConstantCase,              value: CamelCase  }
  - { key: readability-identifier-naming.LocalConstantPrefix,            value: k          }
  - { key: readability-identifier-naming.GlobalConstexprCase,            value: CamelCase  }
  - { key: readability-identifier-naming.GlobalConstexprPrefix,          value: k          }
  - { key: readability-identifier-naming.GlobalConstantCase,             value: CamelCase  }
  - { key: readability-identifier-naming.GlobalConstantPrefix,           value: k          }
  - { key: readability-identifier-naming.StaticConstantCase,             value: CamelCase  }
  - { key: readability-identifier-naming.StaticConstantPrefix,           value: k          }
  - { key: readability-identifier-naming.LocalPointerCase,               value: camelBack  }
  - { key: readability-identifier-naming.LocalPointerSuffix,             value: _ptr       }
  - { key: readability-identifier-naming.GlobalPointerCase,              value: camelBack  }
  - { key: readability-identifier-naming.GlobalPointerSuffix,            value: _ptr       }
  - { key: readability-identifier-naming.GlobalConstantPointerCase,      value: camelBack  }
  - { key: readability-identifier-naming.GlobalConstantPointerSuffix,    value: _ptr       }
  - { key: readability-identifier-naming.LocalConstantPointerCase,       value: camelBack  }
  - { key: readability-identifier-naming.LocalConstantPointerSuffix,     value: _ptr       }
  - { key: readability-identifier-naming.PointerParameterCase,           value: camelBack  }
  - { key: readability-identifier-naming.PointerParameterSuffix,         value: _ptr       }
  - { key: readability-identifier-naming.ConstantPointerParameterCase,   value: camelBack  }
  - { key: readability-identifier-naming.ConstantPointerParameterSuffix, value: _ptr       }
  - { key: readability-identifier-naming.TemplateParameterCase,          value: UPPER_CASE }